<launch>
    <group ns="main">
        <node pkg="vision" name="camera" type="camsim" respawn="true" output="screen"/>
        <node pkg="vision" name="ball_detection" type="ball_detection" output="screen"/>
        <node pkg="web_video_server" name="web" type="web_video_server" output="screen"/>
        <include file="/home/robot/catkin_ws/src/rosbridge_server/launch/rosbridge_websocket.launch"/>
    </group>
</launch>
