<launch>
    <arg name="debug" default="false" />
    <group ns="main">
        <node pkg="core" name="TheCore" type="core" respawn="false" output="screen" unless="$(arg debug)"/> 
        
        <node pkg="core" name="TheCore" type="core" respawn="false" output="screen" if="$(arg debug)" launch-prefix="gdbserver :2159"/> 
        <!-- launch-prefix="gdb -ex run -\-args" -->
        <!-- launch-prefix="gdbserver :2159"  -->
    </group>
    <include file = "$(find serial)/launch/serial.launch"/>
    <include file = "$(find localization)/launch/loc.launch"/>
    <include file = "$(find vision)/launch/realsense.launch"/>

</launch>
