<launch>
  
  <group ns="main">
    <!-- <node pkg="localization" type="charucoBoardCalibrationLive.py" name="calibrate_aruco" output="screen" /> -->
    <node pkg="localization" type="testPID.py" name="testPID" output="screen" /> 
  </group>

  <!-- <include file = "$(find serial)/launch/serial.launch"/> -->

</launch>